.ant-slider:hover .ant-slider-track {
    background-color: var(--red-color);
}

.ant-slider-track {
    background-color: var(--red-color);
}

.ant-slider-handle {
    background: var(--red-color);
    border: none;
}

.ant-slider-rail {
    background: #E1E1E1;
}

.wrapper_carBrand-select{
    margin-top: 20px;
}

.carBrand-select {
    border: 1px solid #E1E1E1;
    border-radius: 6px;
    outline: none;
    width: 237px;
    padding: 24px 15px;
}

.carBrand-select option{
    font-size: 14px;
    line-height: 16px;
    color: var(--black-color);
}
